<h1>SpaceX Launches</h1>
<div *ngIf="missions.length === 0">
  <p>Loading missions...</p>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-5">
    <div class="col mb-4" *ngFor="let mission of missions">
      <div class="card" style="max-width: 18rem;">
        <img class="card-img-top" src="{{ mission.links.mission_patch_small }}" alt="Card image cap">
        <div class="card-header d-flex justify-content-between">
          <span>{{ mission.mission_name }}</span>
          <span class="ml-auto">{{ mission.launch_year }}</span>
        </div>
        <div class="card-body">
          <p class="card-text">{{ mission.details }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
